<h3 class="q">Questions that Jenn has been asked in the past...</h3>

<ul class="questions">
  <% @questions.each do |question| %>
  <li class="question"><%= link_to question.body, question_path(question) %> from: <%= question.name %></li>
  <br>
  <% end %>
</ul>
